*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 33pt;
}
h2{
    font-size: 25pt;
}
h3{
    font-size: 20pt;
}
nav{
    height: 90px;
    width: 100%;
    background-color: rgb(20, 18, 109);
    ul{
        height:100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            display: inline;
            font-size: 25pt;
        }
    }
}
#bigbackground{
    height: 800px;
    width: 100%;
    position: relative;
    z-index: 1;
    background: {
        image: url(../pictures/backgroundimg.jpg);
        position: center;
	    repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }
    .blackout{
        background-color: rgba(0, 0, 0, 0.65);
        width: 100%;
        height: 800px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        #welcometext{
            color: white;
        }
    }
}
#aboutme{  
    width: 100%;
    background-color: #F1F7F1;
    .sectionstart{
        padding-top: 40px;
        padding-bottom: 30px;
        h2{
            text-align: center;
        }
        hr{
            width: 100px;
            height: 4px;
            margin: 12px auto;
            background-color: #18d838
        }
    }
    .flexcontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        padding-bottom: 40px;
        .aboutinfo{
            height: 350px;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            p{
                font-size: 15pt;
                span{
                    font: {
                        size: 15pt;
                        weight: bold;
                    }
                }
            }
        }
        #mypicture{
            width: 17%;
            img{
                height: 350px;
                width: 100%;
            }
        }
    }
}
#skills{
    width: 100%;
    background-color: #090A09;
    .sectionstart{
        padding-top: 40px;
        padding-bottom: 30px;
        h2{
            text-align: center;
            color: #F1F7F1;
        }
        hr{
            width: 100px;
            height: 4px;
            margin: 12px auto;
            background-color: #18d838
        }
    }
    .flexcontainer{
        display: flex;
        justify-content: space-evenly;
        align-content: space-between; 
        padding-bottom: 40px;
        .skillcont{
            height: 390px;
            width: 20%;
            background-color: #202120;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            i{
                font-size: 80px;
                color: #18d838;
            }
            p{
                font-size: 15pt;
                text-align: center;
                color: #F1F7F1;
            }
        }   
    }    
}
#projects{
    width: 100%;
    background-color: #F1F7F1;
    .sectionstart{
        padding-top: 40px;
        padding-bottom: 30px;
        h2{
            text-align: center;
            color: black;
        }
        hr{
            width: 100px;
            height: 4px;
            margin: 12px auto;
            background-color: #18d838
        }
    }
    .flexcontainer{
        display: flex;
        justify-content: space-evenly;
        align-content: space-between; 
        padding-bottom: 40px;
        .projectdiv{
            width: 41%;
            height: 400px;
            img{
                height: 400px;
            }
            p{
                font-size: 15pt;
                text-align: center;
            }
        }
    }
}
#services{
    width: 100%;
    background-color: rgb(8, 7, 48);
    .sectionstart{
        padding-top: 40px;
        padding-bottom: 30px;
        h2{
            text-align: center;
            color: black;
        }
        hr{
            width: 100px;
            height: 4px;
            margin: 12px auto;
            background-color: #18d838
        }
    }
    .flexcontainer{
        display: flex;
        justify-content: space-evenly;
        align-content: space-between; 
        padding-bottom: 40px;
        .serv{
            width: 20%;
            height: 200px;
            text-align: center;
            i{
                font-size: 40px;
                padding: 20px 0px;
                color: #18d838;
            }
            h3{
                padding-bottom: 10px;
                color: white;
            }
            p{
                font-size: 15pt;
                color: white;
            }
        }
    }    
}
#last{
    width: 100%;
    background-color: white;
    .sectionstart{
        padding-top: 40px;
        padding-bottom: 30px;
        h2{
            text-align: center;
            color: black;
        }
        hr{
            width: 100px;
            height: 4px;
            margin: 12px auto;
            background-color: #18d838
        }
    }
    .flexcontainer{
        display: flex;
        justify-content: space-evenly;
        align-content: space-between; 
        padding-bottom: 40px;
        #form{
            width: 35%;
            position: relative;
            border-radius: 10px;
            margin: 20px;
            height: 350px;
            #container{
                width: 100%;
                box-sizing:border-box;
                padding: 20px;
                border-radius:10px;
                background-color: #F0FAF9;
                height: 350px;
            }
            input{
                border:none;
                height:15%;
                width:100%;
                margin:5px 0px 5px 0px;
                color:#000;
                border-radius:10px;
                padding-left:5px;
            }
            label,b{
                color:#000;
                float:left;
                background-color:#f8fcec00;
            }
            #button01{
                width:100%;
                color: #000;
                transition:0.5s;
                
            }
            #button01:hover{
                transform:scale(1.04);
                color:#fff;
                background-color:#000
            }
        }
        #adinfo{
            width: auto;
            display: flex;
            justify-content: space-evenly;
            align-content: space-around;
            flex-direction: column;
            .two{
                display: flex;
                justify-content: flex-start;
                align-items: start;
                i{
                    font-size: 20pt;
                    margin-right: 10px;
                }
            }
        }
    }
}
footer{
    background-color: grey;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    .icons{
        display: flex;
        justify-content: space-between;
        ul{
            height:100%;
            li{
                display: inline;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}